*
{
	background-color: black;
}
.Bannière
{
	width: auto;
	height: 400px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.Logo
{
	width: 75px;
	float: left;
}
.Intro
{
	height: 160px;
	width: 930px-+-+;
	font-size: 1.4em;
	text-align: center;
	display: block;
	margin: 20px;
	padding: 20px;
	color: white;
	clear: both;
	background-color: rgb(51, 51, 51);
	border-radius: 10px;
	font-family: OCR A Std, monospace;
}
.Outro
{
	height: 50px;
	width: 930px-+-+;
	font-size: 1.4em;
	text-align: center;
	display: block;
	margin: 20px;
	padding: 20px;
	color: white;
	clear: both;
	background-color: rgb(51, 51, 51);
	border-radius: 10px;
	font-family: OCR A Std, monospace;
h2
{
	color: white;
    	font-size: 2.5em;
	font-family: OCR A Std, monospace;
    	clear: right;
    	border-top: 3px white solid;
    	text-decoration-line: underline;
    	margin-left: 10px;
}
h3
{
	color: white;
	font-size: 1.5em;
	font-family: OCR A Std, monospace;
	clear: right;
	margin-left: 10px;
	text-decoration-line: underline;
}
.Sites
{
	border-radius: 10px;
	height: 200px;
	display: block;
	margin: 20px;
	clear: both;
	margin-left: 40px;
	background-color: rgb(51, 51, 51);
}
.Paragraphe
{
	height: 160px;
	width: 930px-+-+;
	font-size: 1.4em;
	text-align: center;
	display: block;
	margin: 20px;
	padding: 20px;
	color: white;
	clear: both;
	background-color: rgb(51, 51, 51);
	border-radius: 10px;
	font-family: OCR A Std, monospace;
}
.Projet
{
	clear: both;
	display: flex;
    	flex-wrap: wrap;
   	justify-content: flex-start;
	border: white solid 2px;
}
.discord
{
	margin: 10px;
	margin-left: 20px;
	height: 250px;
}
.insta
{
	margin-bottom: 35px;
	margin-left: 40px;
}
.paypal
{
	margin-bottom: 35px;
	margin-left: 40px;
}
.mail
{
	color: white;
	text-align: center;
	font-size: 1.5em;
	font-family: OCR A Std, monospace;
	border: solid white 2px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	background-color: rgb(51, 51, 51);
}
a
{
	background: none;	
}
